@tailwind base;
@tailwind components;
@tailwind utilities;

.clear:after,
.clear:before {
	content: ' ';
	display: table;
}

.bg-polka {
	background-image: radial-gradient(
		rgba(255, 255, 255, 0.15) 0.5px,
		transparent 0.5px
	);
	background-size: 20px 20px;
}

.bg-main {
	background: radial-gradient(
		145.6% 145.6% at 50% 0%,
		#33003c 0%,
		#10001f 55.73%,
		#000000 100%
	);
}

.animate-fade-dots {
	animation: fade-dots 0.8s linear infinite;
}

.animate-fade-dots:nth-child(1) {
	animation-delay: -0.8s;
}

.animate-fade-dots:nth-child(2) {
	animation-delay: -0.65s;
}

.animate-fade-dots:nth-child(3) {
	animation-delay: -0.5s;
}

@keyframes fade-dots {
	93.75%,
	100% {
		opacity: 0.2;
	}
}

.animate-bounce-x {
	animation: bounce-x 4s infinite;
}

@keyframes bounce-x {
	0%,
	40%,
	55%,
	65%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-30%);
	}
	60% {
		transform: translateX(-20%);
	}
}
